$text-color-light: black;
$text-color-dark: white;

.contact {
  color: $text-color-light h2 {
    margin: 0px;
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 0 rgb(242, 242, 242), 0px 1px 0 rgb(228, 228, 228),
      0px 2px 0 rgb(215, 215, 215), 0px 3px 0 rgb(201, 201, 201),
      0px 4px 0 rgb(188, 188, 188), 0px 5px 0 rgb(175, 175, 175),
      0px 6px 5px rgba(0, 0, 0, 1), 0px 6px 1px rgba(0, 0, 0, 0.5),
      0px 0px 5px rgba(0, 0, 0, 0.2);
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #name {
    width: 100%;
    border-radius: 5px;
    border: none;
    margin: 5px;
  }

  #email {
    width: 100%;
    border-radius: 5px;
    border: none;
    margin: 5px;
  }

  #password {
    width: 100%;
    border-radius: 5px;
    border: none;
    margin: 5px;
  }

  #message {
    width: 400px;
    height: 100px;
    border-radius: 5px;
    border: none;
    margin: 5px;

    @media (max-width: 660px) {
      width: 300px;
    }
    @media (max-width: 375px) {
      width: 200px;
    }
  }

  .contactInput {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-evenly;
    @media (max-width: 790px) {
      flex-direction: column;
    }
  }
}

.inputButton {
  margin: 5px;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 7px;

  text-align: center;
  cursor: pointer;
  &:hover {
    color: black;
    background-color: black;
    transition-duration: 0.3s;

    transform: scale3d(0.95, 0.95, 1);
  }
}

body.dark-mode {
  .inputButton {
    &:hover {
      color: white;
      background-color: black;
      border: 2px solid black;
    }
  }
  .contact {
    color: $text-color-dark;
  }
}
