.dashboardCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.dashboardItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #5d7f81;
  padding: 15px;
  border-radius: 10px;
  color: white;
  transition: transform 1s;
  box-shadow: 7px 5px 10px -4px rgba(0, 0, 0, 0.75);
  max-height: 500px;
  height: 300px;

  width: 40%;
  margin: 5px;
  overflow-y: scroll;

  &:hover {
    transform: scale3d(0.95, 0.95, 1);
  }

  @media (max-width: 1024px) {
    width: 100%;
    height: 250px;
  }
}

.deleteButton {
  margin: 5px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: transparent;

  font-size: 20px;
  border: 2px solid tomato;
  border-radius: 7px;

  text-align: center;
  cursor: pointer;
  &:hover {
    color: black;
    background-color: rgb(226, 79, 53);
    transition-duration: 0.3s;

    transform: scale3d(0.95, 0.95, 1);
  }
}

body.dark-mode {
  .deleteButton {
    color: white;

    &:hover {
      color: white;
      background-color: red;
      transition-duration: 0.3s;

      transform: scale3d(0.95, 0.95, 1);
    }
  }
  .dashboardItem {
    background-color: #40424f;
  }
}
