$text-color-light: black;
$text-color-dark: white;

.experienceTitle {
  margin: 0;
  font-size: 50px;
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

.expCont {
  color: $text-color-light;
}

body.dark-mode {
  .experienceTitle {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }
  .expCont {
    color: $text-color-dark;
  }
}
