$text-color-light: black;
$text-color-dark: white;

$scrollbar-track-light: #27676b79;
$scrollbar-track-dark: #535669;

$scrollbar-thumb-light: #5e7d80;
$scrollbar-thumb-dark: #25252d;

$primary-bg-color-light: #325a5d;

$secondary-bg-color-dark: #40424f;

$third-bg-color-dark: #5c5f70;

$button-color-light: #ffecd1;
$button-color-dark: #c5a272;

$header-bgColor-light: #5d7f81;
$header-bgColor-dark: #40424f;

// Scrollbar
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;

  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  background-color: $scrollbar-track-light;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-light;
  border-radius: 8.5px;

  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

//header

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  height: 95%;
  font-size: 21px;
  background-color: $header-bgColor-light;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  #Links {
    margin: 5px;
    font-weight: bold;
    text-decoration: none;
    color: $button-color-light;
    font-size: 25px;
    border: 2px solid $button-color-light;
    padding: 5px;
    border-radius: 7px;
    width: 100%;
    text-align: center;
    &:hover {
      color: black;
      background-color: $button-color-light;
      transition-duration: 0.3s;

      transform: scale3d(0.95, 0.95, 1);
    }
  }

  .socialLinks {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .portfolioLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }

  #Icon {
    color: $button-color-light;
    margin: 10px;
    font-size: 30px;
    &:hover {
      transition: 0.3s;

      transform: scale3d(0.9, 0.9, 1);
    }
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: row;
    width: 96%;
    align-items: center;
    height: auto;
    justify-content: space-between;
    padding: 0.8px;
    margin: 5px;
    #Links {
      font-size: 12px;
    }

    .portfolioLinks {
      flex-direction: row;
    }

    #Icon {
      font-size: 25px;
    }
  }

  @media (max-width: 420px) {
    flex-direction: column;
  }
}

body.dark-mode {
  ::-webkit-scrollbar-track {
    background-color: $scrollbar-track-dark;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-dark;
  }
  header {
    background-color: $header-bgColor-dark;
  }
  #Links {
    color: $button-color-dark;
    border: 2px solid $button-color-dark;

    &:hover {
      color: white;
      background-color: $button-color-dark;
    }
  }

  #Icon {
    color: $button-color-dark;
  }
}
