.projectTitle {
  margin: 0px;
  font-size: 50px;
  color: white;
  text-shadow: 0px 0px 0 rgb(242, 242, 242), 0px 1px 0 rgb(228, 228, 228),
    0px 2px 0 rgb(215, 215, 215), 0px 3px 0 rgb(201, 201, 201),
    0px 4px 0 rgb(188, 188, 188), 0px 5px 0 rgb(175, 175, 175),
    0px 6px 5px rgba(0, 0, 0, 1), 0px 6px 1px rgba(0, 0, 0, 0.5),
    0px 0px 5px rgba(0, 0, 0, 0.2);
}

.projectItem {
  margin-top: 40px;
  margin-bottom: 40px;
}

.projectSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #325a5d;
  padding: 15px;
  border-radius: 10px;
  color: white;

  transition: transform 0.35s ease 0s;
  &:hover {
    transform: scale3d(0.95, 0.95, 1);
    box-shadow: 0px 0px 20px 5px #282c34ad !important;
  }
}

.projectDesc {
  width: 50%;
  min-height: 20vh;
}

.projectLinks {
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none !important;
  border: 2px solid #95c3c6;
  border-radius: 7px;
  padding: 5px;
  p {
    color: #95c3c6;
    font-weight: bold;
    margin: 0;
  }

  &:hover {
    transition-duration: 0.3s;
    transform: scale3d(0.95, 0.95, 1);
    background-color: #95c3c6;
    p {
      color: white;
    }
  }
}

.projectIcon {
  padding: 5px 10px 5px 10px;
  border-radius: 7px;
  border: 2px solid #95c3c6;
  i {
    color: #95c3c6;
    font-size: 30px;
  }

  &:hover {
    transition-duration: 0.3s;
    transform: scale3d(0.95, 0.95, 1);
    background-color: #95c3c6;
    i {
      color: white;
    }
  }
}

.projectSectionLinks {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding: 5px 10px 5px 10px;
}

@media (max-width: 600px) {
  .projectSection {
    flex-direction: column;
  }

  .projectLinks {
    width: 100%;
    margin-bottom: 10px;
  }

  .projectDesc {
    width: 100%;
  }
  .projectSectionLinks {
    width: 100%;
    padding: 0px;
  }
}
