$text-color-light: black;
$text-color-dark: white;

$primary-bg-color-light: #f0e6bc;
$primary-bg-color-dark: #25252d;

$secondary-bg-color-dark: #40424f;

$third-bg-color-dark: #5c5f70;

$button-color-light: #ffecd1;
$button-color-dark: #c5a272;

.projectTitle {
  margin: 0px;
  font-size: 50px;
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

.projectCont {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 15px;
}

.projectItem {
  margin: 10px;
  width: 45%;

  @media (min-width: 1700px) {
    width: 30%;
  }

  @media (max-width: 1040px) {
    width: 100%;
  }
}

.projectSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #325a5d;
  padding: 15px;
  border-radius: 10px;
  color: white;
  transition: transform 0.35s ease 0s;
  box-shadow: 7px 5px 10px -4px rgba(0, 0, 0, 0.75);
  &:hover {
    transform: scale3d(0.98, 0.98, 1);
  }
}

.projectDesc {
  width: 50%;
  min-height: 20vh;
}

.projectLinks {
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none !important;
  border: 2px solid $button-color-light;
  border-radius: 7px;
  padding: 5px;
  p {
    color: $button-color-light;
    font-weight: bold;
    margin: 0;
  }

  &:hover {
    transition-duration: 0.3s;
    transform: scale3d(0.95, 0.95, 1);
    background-color: $button-color-light;

    p {
      color: black;
    }
  }
}

.projectIcon {
  padding: 5px 10px 5px 10px;
  border-radius: 7px;
  border: 2px solid $button-color-light;
  i {
    color: $button-color-light;
    font-size: 30px;
  }

  &:hover {
    transition-duration: 0.3s;
    transform: scale3d(0.95, 0.95, 1);
    background-color: $button-color-light;
    i {
      color: black;
    }
  }
}

.projectSectionLinks {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding: 5px 10px 5px 10px;
}

@media (max-width: 600px) {
  .projectSection {
    flex-direction: column;
  }

  .projectLinks {
    width: 100%;
    margin-bottom: 10px;
  }

  .projectDesc {
    width: 100%;
  }
  .projectSectionLinks {
    width: 100%;
    padding: 0px;
  }
}

body.dark-mode {
  .projectTitle {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }
  .projectSection {
    background-color: $third-bg-color-dark;
  }

  .projectLinks {
    border: 2px solid $button-color-dark;

    p {
      color: $button-color-dark;
      font-weight: bold;
      margin: 0;
    }

    &:hover {
      transition-duration: 0.3s;
      transform: scale3d(0.95, 0.95, 1);
      background-color: $button-color-dark;

      p {
        color: white;
      }
    }
  }

  .projectIcon {
    border: 2px solid $button-color-dark;

    i {
      color: $button-color-dark;
      font-size: 30px;
    }

    &:hover {
      transition-duration: 0.3s;
      transform: scale3d(0.95, 0.95, 1);
      background-color: $button-color-dark;
      i {
        color: white;
      }
    }
  }
}
