@import "./core/styles/projects.scss";
@import "./core/styles/contact.scss";
@import "./core/styles/experience.scss";
@import "./core/styles/misc.scss";

$text-color-light: black;
$text-color-dark: white;

$primary-bg-color-light: #f0e6bc;
$primary-bg-color-dark: #25252d;

$secondary-bg-color-dark: #9a9cac;

$third-bg-color-dark: #5c5f70;

$button-color-light: #ffecd1;
$button-color-dark: #c5a272;

$devIconCont-bgColor-light: #5d7f81;
$devIconCont-bgColor-dark: #40424f;

* {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0px;
}

.themeButton {
  color: $button-color-light;
  border: 2px solid $button-color-light;
  background-color: inherit;
  border-radius: 5px;
  margin: 0px 10px 0px 5px;
  font-size: 15px;
  &:hover {
    background-color: #f0e6bc;
    cursor: pointer;
    transition: 0.3s;
    transform: scale3d(0.9, 0.9, 1);
    color: #325a5d;
  }
}

.nameTitle {
  margin: 0;
  color: white;
  font-size: 80px;
  text-shadow: 0px 0px 0 rgb(242, 242, 242), 0px 1px 0 rgb(228, 228, 228),
    0px 2px 0 rgb(215, 215, 215), 0px 3px 0 rgb(201, 201, 201),
    0px 4px 0 rgb(188, 188, 188), 0px 5px 0 rgb(175, 175, 175),
    0px 6px 5px rgba(0, 0, 0, 1), 0px 6px 1px rgba(0, 0, 0, 0.5),
    0px 0px 5px rgba(0, 0, 0, 0.2);

  @media (max-width: 420px) {
    font-size: 60px;
  }
}

.devIconCont {
  background-color: $devIconCont-bgColor-light;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 7px 5px 14px -4px rgba(0, 0, 0, 0.75);
}

.devIcon {
  height: 80px;
  width: 80px;
  margin: 20px;
  color: #95c3c6;

  &:hover {
    transition-duration: 0.5s;
    color: rgb(233, 119, 98);
    cursor: none;
    animation: shake 1s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }

    30% {
      transform: rotate(5deg);
    }

    60% {
      transform: rotate(-5deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}

.techIcon {
  transform: perspective(1500px) rotateY(20deg);
  border-radius: 1rem;
  transition: transform 1s ease 0s;

  &:hover {
    transform: perspective(3000px) rotateY(5deg);

    // animation: shake 10s;
    // animation-iteration-count: infinite;
    // border-bottom: solid 2px black;
  }

  @media (max-width: 420px) {
    max-width: 250px;
  }
}

.appCont {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0px;

  background-color: $primary-bg-color-light;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.appShowcase {
  margin: 10px;

  overflow-y: scroll;
  background-color: #95c3c6;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
  border-radius: 10px;
  height: 92.5%;
  width: 100%;
  @media (max-width: 600px) {
    width: 88vw;
    height: 82vh;
  }

  @media (max-width: 420px) {
    width: 85vw;
    height: 82vh;
  }

  @media (max-width: 350px) {
    width: 83.5vw;
    margin-top: 5px;
    margin-left: 7px;
  }
}

.homeSection {
  color: $text-color-light;

  #skillTitle {
    font-size: 25px;
    color: $text-color-light;
  }
  #bodyText {
    font-size: 20px;
    max-width: 80%;
  }

  @media (max-width: 600px) {
    #skillTitle {
      font-size: 17px;
    }
    #bodyText {
      font-size: 19px;
      max-width: 100%;
    }
  }
}

body.dark-mode {
  .appCont {
    background-color: $primary-bg-color-dark;
  }
  .appShowcase {
    background-color: $secondary-bg-color-dark;
  }

  .devIconCont {
    background-color: $devIconCont-bgColor-dark;
  }

  .devIcon {
    color: white;
    &:hover {
      transition-duration: 0.5s;
      color: rgb(233, 119, 98);
    }
  }

  .homeSection {
    color: $text-color-dark;

    #skillTitle {
      color: $text-color-dark;
    }
  }

  .themeButton {
    color: $button-color-dark;
    border: 2px solid $button-color-dark;
  }
}
