@import "./core/styles/projects.scss";
@import "./core/styles/contact.scss";
@import "./core/styles/experience.scss";
@import "./core/styles/misc.scss";
@import "./core/styles/dashboard.scss";

$text-color-light: black;
$text-color-dark: white;

$primary-bg-color-light: #f0e6bc;
$primary-bg-color-dark: #25252d;

$secondary-bg-color-dark: #9a9cac;

$third-bg-color-dark: #5c5f70;

$button-color-light: #ffecd1;
$button-color-dark: #c5a272;

$devIconCont-bgColor-light: #5d7f81;
$devIconCont-bgColor-dark: #40424f;

* {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0px;
}

h1 {
  cursor: default;

  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  color: black;
}

h2 {
  cursor: default;
}

.hiddenLabel {
  color: #5d7f81;
}

.themeButton {
  color: $button-color-light;
  border: 2px solid $button-color-light;
  background-color: inherit;
  border-radius: 5px;
  margin: 0px 10px 0px 5px;
  font-size: 15px;
  text-decoration: none;

  &:hover {
    background-color: #f0e6bc;
    cursor: pointer;
    transition: 0.3s;
    transform: scale3d(0.9, 0.9, 1);
    color: #325a5d;
  }
}

.nameTitle {
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  margin: 0;
  font-size: 80px;
  img {
    height: 60px;
  }
  @media (max-width: 750px) {
    font-size: 60px;
  }

  @media (max-width: 430px) {
    font-size: 40px;
  }
}

.devIconCont {
  background-color: $devIconCont-bgColor-light;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 7px 5px 14px -4px rgba(0, 0, 0, 0.75);
}

.devIcon:hover + .hiddenLabel {
  display: block;
  color: #95c3c6;
}

.devIconitem {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  &:hover {
    color: rgb(233, 119, 98);
    transition-duration: 0.5s;
    cursor: none;
    animation: shake 1s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }

    30% {
      transform: rotate(5deg);
    }

    60% {
      transform: rotate(-5deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}

.devIcon {
  height: 80px;
  width: 80px;
  color: #95c3c6;
}

.techIcon {
  transform: perspective(1500px) rotateY(20deg);
  border-radius: 1rem;
  transition: transform 1s ease 0s;

  &:hover {
    transform: perspective(3000px) rotateY(5deg);

    // animation: shake 10s;
    // animation-iteration-count: infinite;
    // border-bottom: solid 2px black;
  }

  @media (max-width: 420px) {
    max-width: 250px;
  }
}

.appCont {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0px;

  background-color: $primary-bg-color-light;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.appShowcase {
  margin: 10px;

  overflow-y: scroll;
  background-color: #95c3c6;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
  border-radius: 10px;
  height: 92.5%;
  width: 100%;
  @media (max-width: 600px) {
    width: 88vw;
    height: 82vh;
  }

  @media (max-width: 420px) {
    width: 85vw;
    height: 82vh;
  }

  @media (max-width: 350px) {
    width: 83.5vw;
    margin-top: 5px;
    margin-left: 7px;
  }
}

.homeSection {
  color: $text-color-light;

  #skillTitle {
    font-size: 25px;
    color: $text-color-light;
  }
  #bodyText {
    cursor: default;

    font-size: 20px;
    max-width: 80%;
  }

  @media (max-width: 600px) {
    #skillTitle {
      font-size: 17px;
    }
    #bodyText {
      font-size: 19px;
      max-width: 100%;
    }
  }
}

body.dark-mode {
  h1 {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
    color: white;
  }
  .appCont {
    background-color: $primary-bg-color-dark;
  }
  .appShowcase {
    background-color: $secondary-bg-color-dark;
  }

  .hiddenLabel {
    color: #40424f;
  }

  .devIconCont {
    background-color: $devIconCont-bgColor-dark;
  }

  .devIcon:hover + .hiddenLabel {
    display: block;
    color: $secondary-bg-color-dark;
  }

  .devIcon {
    color: white;
  }

  .homeSection {
    color: $text-color-dark;

    #skillTitle {
      color: $text-color-dark;
    }
  }

  .themeButton {
    color: $button-color-dark;
    border: 2px solid $button-color-dark;
  }
}
