@import "./core/styles/projects.scss";
@import "./core/styles/contact.scss";
@import "./core/styles/experience.scss";
@import "./core/styles/misc.scss";

* {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0px;
}

#Name {
  cursor: default;
  color: white;
}

/* @media only screen and (max-width: 550px) {
} */

.techIcon {
  transform: perspective(1500px) rotateY(20deg);
  border-radius: 1rem;
  transition: transform 1s ease 0s;

  &:hover {
    transform: perspective(3000px) rotateY(5deg);

    // animation: shake 10s;
    // animation-iteration-count: infinite;
    // border-bottom: solid 2px black;
  }
}

.appCont {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0px;

  background-color: #f0e6bc;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.appShowcase {
  margin: 10px;
  overflow-y: scroll;
  background-color: #95c3c6;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
  border-radius: 10px;
  height: 92.5%;
  width: 100%;
  @media (max-width: 600px) {
    width: 88vw;
    height: 82vh;
  }

  @media (max-width: 420px) {
    width: 85vw;
    height: 82vh;
  }
}

.homeSection {
  #skillTitle {
    font-size: 25px;
  }
  #bodyText {
    font-size: 20px;
    max-width: 800px;
  }

  @media (max-width: 600px) {
    #skillTitle {
      font-size: 17px;
    }
    #bodyText {
      font-size: 19px;
    }
  }
}
